extends layout-items

block append content
  br
  main.container(role='main')
    .container
      .justify-content-md-center-2.shadow-sm
        form(type='form' action='/paste' method='post')
          div.input-group.input-group-lg
            input#inputPasteData(
              name='pastedata'
              type='text'
              class='form-control'
              placeholder='Paste your text here...'
              autofocus
            )
            span.input-group-btn.pl-2
              button.btn.btn-default.btn-dark.btn-lg(type='submit') Add
    hr
    .d-flex.align-items-center.p-3.my-3.text-white-50.bg-brown.rounded.shadow-sm
      img.mr-3(src='/images/folder.png', alt='', width='48', height='48')
      .lh-100
        h6.mb-0.text-white.lh-100 #{board.name}
        small #{board.description}
    .my-3.p-3.bg-white.rounded.shadow-sm
      - items = board.items
      if items == null || items.length < 0
        // TODO: display empty board notice
      else
        - var count = Math.min(50, items.length)  // limit the max displayed items
        - var iter = 0
        while iter < count
          - var owner = 'unknown'
          if items[iter].owner != null
            - owner = items[iter].owner
          - var itemText = ''
          if items[iter].raw != null
            - itemText = items[iter].raw
          .media.text-muted.pt-3.border-bottom.border-gray
            p.media-body.pb-3.mb-0.small.lh-125
              strong.d-block.text-gray-dark #{owner}
              | #{itemText}
              p
                button.btn.btn-outline-secondary.btn-sm(type='submit') Copy Me
          - iter++
        small.d-block.text-right.mt-3
          a(href='#') All recent