
extends layout-items

block append content
  br
  main.container(role='main')
    .container
      .justify-content-md-center-2.shadow-sm
        form(type='form' action='/shared/paste' method='post')
          div.input-group.input-group-lg
            input#inputPasteData(
              name='pastedata'
              type='text'
              class='form-control'
              placeholder='Paste your text here...'
              autofocus
            )
            span.input-group-btn.pl-2
              button.btn.btn-default.btn-dark.btn-lg(type='submit') Add
    hr
    .d-flex.align-items-center.p-3.my-3.text-white-50.bg-burntorange.rounded.shadow-sm
      img.mr-3(src='/images/calendar.png', alt='', width='48', height='48')
      .lh-100
        h6.mb-0.text-white.lh-100 Recently Created Items
        small Here are the most recent items
    .my-3.p-3.bg-white.rounded.shadow-sm
      if errorWithItems == true
       .alert.alert-danger.alert-dismissible.fade.show(role='alert')
          strong Error with getting the items!
          |  You should try refreshing the page to see if that fixes this
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
      if !errorWithItems && (items == null || items.length < 0)
        //- Empty items message could go here
      else
        - var count = Math.min(50, items.length)  // limit the max displayed items
        - var iter = 0
        while iter < count
          - var owner = 'unknown'
          if items[iter].owner != null
            - owner = items[iter].owner
          - var itemText = ''
          if items[iter].raw != null
            - itemText = items[iter].raw
          .media.text-muted.pt-3.border-bottom.border-gray
            p.media-body.pb-3.mb-0.small.lh-125
              strong.d-block.text-gray-dark #{owner}
              | #{itemText}
              p
                button.btn.btn-outline-secondary.btn-sm(data-clipboard-text=''+itemText) Copy Me
          - iter++
        small.d-block.text-right.mt-3
          a(href='#') All recent
  //- enable to copy paste using the clipboardjs lib
  script.
    var btns = document.querySelectorAll('button');
    var clipboard = new ClipboardJS(btns);
    clipboard.on('success', function(e) {
      console.log(e);
    });
    clipboard.on('error', function(e) {
      console.log(e);
    });
    //- TODO We could have another section here
    //- .my-3.p-3.bg-white.rounded.shadow-sm
    //-   h6.border-bottom.border-gray.pb-2.mb-0 Most Popular
    //-   .media.text-muted.pt-3
    //-     svg.bd-placeholder-img.mr-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 32x32')
    //-       title Placeholder
    //-       rect(width='100%', height='100%', fill='#007bff')
    //-       text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
    //-     .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
    //-       .d-flex.justify-content-between.align-items-center.w-100
    //-         strong.text-gray-dark Full Name
    //-         button.btn.btn-outline-secondary.btn-sm(type='submit') Follow
    //-       span.d-block @username
    //-   small.d-block.text-right.mt-3
    //-     a(href='#') Load More
block append javascripts
  script.
    var btns = document.querySelectorAll('button');
    var clipboard = new ClipboardJS(btns);
    clipboard.on('success', function(e) {
      console.log(e);
    });
      clipboard.on('error', function(e) {
      console.log(e);
    });